#root {
    -fx-alignment: center;
    -fx-padding: 20;
}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.label {
    -fx-font-size: 22;
}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 32;
}

.button {
    -fx-font-size: 24;
    -fx-pref-height: 50;
    -fx-pref-width: 150;
}

.combo-box {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 18;
}

#generateWorldButton {
    -fx-pref-width: 250;
    -fx-background-color: #0aad07;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

#generateWorldButton:hover {
    -fx-font-weight: bold;
}

#descriptionLabel {
    -fx-pref-width: 600;
    -fx-wrap-text: true;
}

#difficultyVbox {
    -fx-spacing: 30;
    -fx-alignment: center;
}

#passwordHbox {
    -fx-pref-width: 200;
}

