#root {
    -fx-background-color: lightblue;
}

#inventory-unselected {
    -fx-background-color: rgba(0,0,0,.65);
    -fx-background-radius: 8;
    -fx-border-radius: 6;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#inventory-selected {
    -fx-background-color: rgba(0,0,0,.65);
    -fx-background-radius: 8;
    -fx-border-radius: 6;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-border-color: gold;
    -fx-border-width: 2;
}

/*Pause Menu*/
.button {
    -fx-min-width: 300;
    -fx-min-height: 75;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-radius: 10;
}

.title {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.itemStack {
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: white;
}

.statNumbers {
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.xpBar {
    -fx-min-width: 75;
    -fx-min-height: 24;
    -fx-padding: 5;
    -fx-background-radius: 30;
}


.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
    -fx-accent: red;
}

.xpBar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
    -fx-accent: #27d92a
}

.block:hover{
    -fx-border-color: black;
    -fx-border-width: 2;
}

.block {
    -fx-border-width: 0;
}

#statMenu {
    -fx-background-color: rgba(0, 0, 0, .65);
    -fx-pref-height: 180;
    -fx-pref-width: 300;
    -fx-translate-x: 1324;
    -fx-translate-y: 55;
    -fx-padding: 12;
    -fx-alignment: top-center;
    -fx-background-radius: 10;
}

.stat {
    -fx-spacing: 8;
    -fx-alignment: center;
}

