.button {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 18;
    -fx-background-radius: 10;

}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 60;
    -fx-padding: 15;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: grey;
}

.vbox {
    -fx-alignment: top-center;
    -fx-spacing: 12;
    -fx-padding: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: grey;

}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 32;
}

.scroll-pane {
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-hbar-policy: never;
    -fx-background-color: transparent;

}

.label {
    -fx-font-size: 18;
}

#headerHbox {
    -fx-alignment: center-left;
    -fx-spacing: 95;
    -fx-padding: 10;
}

.gridpane {
    -fx-alignment: top-left;
    -fx-padding: 10;
    -fx-hgap: 95;
    -fx-vgap: 8;
}

#leftVbox {
    -fx-alignment: top-center;
    -fx-spacing: 60;
    -fx-padding: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-max-width: 300;
}

#joinButton {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-font-size: 16;
}

#noLobbies {
    -fx-text-fill: #c7200e;
    -fx-font-size: 24;
}

